Repository KunoiSayami/repos: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, post

.gitlab-ci.yml:

default:
  tags:
    - medium
  image:
    archlinux:latest

stages:
  - build
  - post

build:
  stage: build

  artifacts:
    untracked: true
    expire_in: 1 day
  only:
    changes:
      - .gitlab-ci.yml
      - pkgbuild.sh
      - repo/**/*

  script:
    - echo -e '\n[archlinuxcn]\nServer = https://repo.archlinuxcn.org/$arch\n' >> /etc/pacman.conf
    - pacman-key --init
    - pacman --noconfirm --needed -Sy archlinuxcn-keyring
    - pacman --noconfirm --needed -Su base-devel gnupg git yay
    - git submodule update --init
    - useradd -m build
    - echo 'build ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers
    #- cp -r ../$CI_PROJECT_TITLE  /home/build/
    #- cd /home/build/$CI_PROJECT_TITLE
    - chown -R build:build ../$CI_PROJECT_TITLE
    - su -c 'echo $GPG_PRIV_KEY | base64 -d | gpg --import' build
    - su -c './pkgbuild.sh' build
    - rm -rf build/

# only push to master master trigger push
post:
  stage: post

  only:
    refs:
      - master
    changes:
      - repo/**/*

  script:
    - if [ -n "$TARGET_HOSTS" ]; then echo "$TARGET_HOSTS" | base64 -d >> /etc/hosts; fi;
    - bash -c './ci-upload.sh'

ci rerun
  pkgbuild.sh
Due: build

fix(docker): Fix docker not init pacman keys
  docker/dockerfile
Due: none

feat(build): Add a way to reduce rebuild workload
  pkgbuild.sh
  repo/.verified_repos
Due: build, post

feat(build): [REBUILD] Enhance AUR dependencies resolve way (#11)
  .gitlab-ci.yml
  docker/dockerbuild.sh
  docker/dockerfile
  pkgbuild.sh
  repo/.gpg_keys/linux-zen-x86-64-v3
  repo/.verified_repos
  repo/.yaydeps/obs-linuxbrowser-bin
  repo/.yaydeps/pam_ssh_agent_auth_patched
Due: build, post

feat(add-pkg): Add glib2-static and qemu-user-static
  .gitmodules
  pkgbuild.sh
  repo/.gpg_keys/qemu-user-static
  repo/.hook/glib2-static
Due: build, post

fix(dep): Fix qemu-user-static missing dependencies
  pkgbuild.sh
  repo/.hook/glib2-static
  repo/.yaydeps/qemu-user-static
Due: build, post

feat(script): Support detect repository external file change
  pkgbuild.sh
Due: build

feat(add-pkg): Add glib2-static and qemu-user-static (#12)
  .gitmodules
  pkgbuild.sh
  repo/.gpg_keys/qemu-user-static
  repo/.hook/glib2-static
  repo/.yaydeps/qemu-user-static
Due: build, post

fix: typo
  pkgbuild.sh
Due: build

fix: typo [REBUILD] (#13)
  pkgbuild.sh
Due: build

fix(dep): Fix glib2-static missing dependencies
  pkgbuild.sh
  repo/.yaydeps/glib2-static
Due: build, post

fix(ci): Fix CI condition
  .gitlab-ci.yml
Due: build

fix(dep): [REBUILD] Fix glib2-static missing dependencies (#14)
  pkgbuild.sh
  repo/.yaydeps/glib2-static
Due: build, post

fix(repo): Fix hook script for glib2-static
  repo/.hook/glib2-static
Due: build, post

fix(gpg): Fix gpg import timeout [REBUILD]
  repo/.gpg_keys/linux-zen-x86-64-v3
  repo/.gpg_keys/qemu-user-static
Due: build, post

fix(build): [REBUILD] Fix myself key missing cause install failure
  .gitlab-ci.yml
Due: build

fix(ci): [REBUILD] Fix CI condition
  .gitlab-ci.yml
Due: build

fix(gpg): Fix gpg import not trust
  pkgbuild.sh
  repo/.gpg_keys/linux-zen-x86-64-v3
  repo/.gpg_keys/qemu-user-static
Due: build, post

fix(gpg): Fix gpg trust model
  repo/.gpg_keys/linux-zen-x86-64-v3
  repo/.gpg_keys/qemu-user-static
Due: build, post

feat(add-pkg): [REBUILD] Add obs-studio-browser
  .gitmodules
  repo/.yaydeps/obs-linuxbrowser-bin
  repo/.yaydeps/obs-studio-browser
Due: build, post

feat(script): Optimize GPG key import
  deploy.sh
  docker/dockerfile
  pkgbuild.sh
  repo/.gpg_keys/linux-zen-x86-64-v3
  repo/.gpg_keys/qemu-user-static
  repo/.verified_repos
  repo/linux-zen-x86-64-v3/PKGBUILD
Due: build, post

fix(script): [REBUILD] Fix deploy wrong condition
  deploy.sh
  repo/.gpg_keys/qemu-user-static
Due: build, post

feat(script): Add a script to detect aur dependencies
  check-aur.py
Due: none

feat(add-pkg): Add vlc-luajit
  .gitlab-ci.yml
  .gitmodules
  repo/.hook/vlc-luajit
  repo/.yaydeps/obs-studio-browser
  repo/.yaydeps/pam_ssh_agent_auth_patched
  repo/.yaydeps/qemu-user-static
  repo/.yaydeps/vlc-luajit
Due: build, post

feat(script): Improve error process
  .gitignore
  .gitlab-ci.yml
  ci-upload.sh
  pkgbuild.sh
Due: build

feat(add-pkg): Add yay
  .gitlab-ci.yml
  .gitmodules
  docker/README.md
Due: build

refactor(script): Refactor check-aur.py
  check-aur.py
Due: none

fix(script): Return 0 on normal exit.
  check-aur.py
Due: none

refactor(script): Refactor check-aur.py (#15)
  check-aur.py
Due: none

fix(ci): Fix circle dependency
  .gitlab-ci.yml
  repo/.hook/yay
Due: build, post

revert: "fix(ci): Fix circle dependency"
  .gitlab-ci.yml
  repo/.hook/yay
Due: build, post

fix(ci): Fix remote database not sync
  .gitlab-ci.yml
  repo/.hook/yay
Due: build, post

revert: "fix(ci): Fix circle dependency"
  .gitlab-ci.yml
Due: build

feat(util): Add check update script
  pkgbuild.sh
  utils/aur-check-update.py
  utils/check-aur.py
Due: build

fix(util): Fix not check http response error
  utils/aur-check-update.py
Due: none

feat(pkg): Use submodule to manage all unmodified packages
  .gitmodules
  repo/chisel/PKGBUILD
  repo/mozjpeg/PKGBUILD
  repo/r8125-dkms/PKGBUILD
  repo/r8125-dkms/dkms.conf
Due: build, post

feat(add-pkg): Add wget2 back
  .gitmodules
Due: none

fix(build): Fix missing wget2 key
  repo/.gpg_keys/wget2
Due: build, post

feat(pkg): Use submodule to manage pod2man
  .gitmodules
  repo/.hook/pod2man
  repo/pod2man/PKGBUILD
Due: build, post
