Repository KunoiSayami/repos: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, post

.gitlab-ci.yml:

default:
  tags:
    - medium
  image:
    archlinux:latest

stages:
  - build
  - post

build:
  stage: build

  variables:
    GIT_SUBMODULE_STRATEGY: recursive

  artifacts:
    untracked: true
    expire_in: 4 hours
  only:
    changes:
      - .gitlab-ci.yml
      - pkgbuild.sh
      - repo/**/*

  script:
    #- echo -e '\n[archlinuxcn]\nServer = https://repo.archlinuxcn.org/$arch\n' >> /etc/pacman.conf
    - bash -c "echo -e '\n[kunoisayami]\nServer = https://$REPO_REMOTE/\$arch\n' >> /etc/pacman.conf"
    - pacman-key --init
    # import myself key first
    - curl -fL https://keys.openpgp.org/vks/v1/by-fingerprint/4A0F0C8BC709ACA4341767FB243975C8DB9656B9 | pacman-key --add -
    - pacman-key --finger 4A0F0C8BC709ACA4341767FB243975C8DB9656B9
    - pacman-key --lsign-key 4A0F0C8BC709ACA4341767FB243975C8DB9656B9
    #- pacman --noconfirm --needed -Sy archlinuxcn-keyring
    - pacman --noconfirm --needed -Syu base-devel gnupg git yay
    - useradd -m build
    - echo 'build ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers
    #- cp -r ../$CI_PROJECT_TITLE  /home/build/
    #- cd /home/build/$CI_PROJECT_TITLE
    - chown -R build:build ../$CI_PROJECT_TITLE
    - su -c './utils/pkgbuild.sh --import-gpg' build
    - su -c './utils/pkgbuild.sh' build
    - rm -rf build/

# only push to master master trigger push
post:
  stage: post

  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - repo/**/*
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_TITLE =~ /REBUILD/

  script:
    - if [ -n "$TARGET_HOSTS" ]; then echo "$TARGET_HOSTS" | base64 -d >> /etc/hosts; fi;
    - bash -c './utils/ci-upload.sh'

feat(add-pkg): Add java-16-openjdk
  .gitlab-ci.yml
  .gitmodules
  utils/pkgbuild.sh
Due: build

feat(add-pkg): Add jdk8
  .gitmodules
  repo/.yaydeps/java-16-openjdk
Due: build, post

fix(pkg): Fix java-16-openjdk build
  .gitmodules
  repo/.hook/java-16-openjdk
  repo/.yaydeps/java-16-openjdk
Due: build, post

feat(del-pkg): Remove java-16-openjdk
  .gitmodules
  repo/.hook/java-16-openjdk
Due: build, post

feat(add-pkg): Add jdk16-adoptopenjdk
  .gitmodules
Due: none

feat(add-pkg): Add google-chrome
  .gitmodules
Due: none

fix(script): Fix checking depends and add minor changes
  utils/aur/check-aur-dependencies.py
Due: none

fix(script): Fix NoneType in checking depends
  utils/aur/check-aur-dependencies.py
Due: none

fix(script): Fix checking depends and add minor changes (#25)
  utils/aur/check-aur-dependencies.py
Due: none

feat(add-pkg): Add kunoisayami-init
  .gitlab-ci.yml
  repo/.verified_repos
  repo/kunoisayami-ci-build-meta/PKGBUILD
  repo/kunoisayami-init/PKGBUILD
  repo/kunoisayami-init/kunoisayami-init.install
  repo/zsh-ssr-theme/PKGBUILD
  repo/zsh-ssr-theme/zsh-ssr-theme.install
Due: build, post

feat(pkg): Update kunoisayami-init
  repo/kunoisayami-init/PKGBUILD
  repo/kunoisayami-init/kunoisayami-init.install
  repo/kunoisayami-meta/PKGBUILD
Due: build, post

feat(add-pkg): Add kunoisayami-repo-rsync
  repo/kunoisayami-repo-rsync/PKGBUILD
  repo/kunoisayami-repo-rsync/repo-rsync@.service
  repo/kunoisayami-repo-rsync/repo-rsync@.timer
Due: build, post

feat(add-pkg): Add ksutils-probe-client
  repo/ksutils-probe-client/PKGBUILD
  repo/ksutils-probe-client/probe-client@.service
  repo/kunoisayami-repo-rsync/PKGBUILD
Due: build, post

feat(pkg): Fix wrong PKGBUID file path
  repo/ksutils-probe-client/PKGBUILD
Due: build, post

fix(pkg): Fix service name not correctly
  .gitlab-ci.yml
  repo/ksutils-probe-client/PKGBUILD
  repo/ksutils-probe-client/ksutils-probe-client@.service
Due: build, post

fix(pkg): Fix ksutils-probe-client
  repo/ksutils-probe-client/PKGBUILD
Due: build, post

fix(pkg): Fix ksutils-probe-client install
  repo/ksutils-probe-client/PKGBUILD
Due: build, post

feat(add-pkg): Add liboping
  .gitmodules
  docker/dockerfile
  repo/.hook/liboping
Due: build, post

fix(pkg): Fix liboping build
  repo/.hook/liboping
Due: build, post

fix(pkg): Disable lto options in ksutils-probe-client PKGBUILD
  repo/ksutils-probe-client/PKGBUILD
  utils/ci-upload.sh
Due: build, post

fix(pkg): Fix install conflict
  repo/ksutils-probe-client/PKGBUILD
Due: build, post

fix(pkg): Fix folder not found
  repo/ksutils-probe-client/PKGBUILD
Due: build, post

fix(pkg): Fix wrong service install location
  repo/ksutils-probe-client/PKGBUILD
Due: build, post

fix(pkg): Fix wrong systemd service file
  repo/ksutils-probe-client/PKGBUILD
  repo/ksutils-probe-client/ksutils-probe-client@.service
Due: build, post

feat(pkg): Add default configure file to ksutils-probe-client
  repo/ksutils-probe-client/PKGBUILD
  repo/ksutils-probe-client/default.toml
Due: build, post

feat(add-pkg): Add pacaur
  .gitmodules
  repo/.yaydeps/pacaur
Due: build, post

fix(pkg): Fix typo
  repo/ksutils-probe-client/PKGBUILD
Due: build, post

feat(pkg): Upgrade telegram-bot-api to 5.4.1
  repo/telegram-bot-api/PKGBUILD
Due: build, post

feat(del-pkg): Remove jdk16-adoptopenjdk
  .gitmodules
Due: none

feat: add iosevka-celeste
  repo/ttc-iosevka-celeste/PKGBUILD
  repo/ttc-iosevka-celeste/private-build-plans.toml
Due: build, post

fix(pkg): Fix missing yay dependencies
  repo/.yaydeps/ttc-iosevka-celeste
Due: build, post

feat(add-pkg): Add ksutils-probe-client
  .gitlab-ci.yml
  repo/ksutils-github-webhook/PKGBUILD
  repo/ksutils-github-webhook/default.toml
  repo/ksutils-github-webhook/ksutils-github-webhook@.service
Due: build, post

fix(ci): Fix auto check update script not working properly
  utils/aur/aur-check-update.py
Due: none

feat(docker): Support change branch via environment
  docker/.gitignore
  docker/docker.env.default
  docker/dockerbuild.sh
  docker/dockerfile
Due: none

feat(pkg): [REBUILD] Update verified repositories
  repo/.verified_repos
Due: build, post

fix(pkg): Fix ksutils-github-webhook wrong github tag
  repo/ksutils-github-webhook/PKGBUILD
Due: build, post

fix(pkg): Fix ksutils-github-webhook wrong directory name
  repo/ksutils-github-webhook/PKGBUILD
Due: build, post

fix(pkg): Fix ksutils-github-webhook wrong directory path
  repo/ksutils-github-webhook/PKGBUILD
Due: build, post

feat(script): add new aur check
  utils/aur/AURUtils/__init__.py
  utils/aur/AURUtils/aur_deps.py
  utils/aur/AURUtils/errors.py
  utils/aur/AURUtils/rpc.py
  utils/aur/AURUtils/srcinfo.py
  utils/aur/AURUtils/types.py
  utils/aur/AURUtils/version.py
  utils/aur/check-aur-update.py
Due: none

feat(script): add parse-pkgbuild.sh and minor changes
  utils/aur/check-aur-update.py
  utils/parse-pkgbuild.sh
Due: none
