Repository KunoiSayami/repos: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, post

build:
  stage: build
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  artifacts:
    untracked: true
    expire_in: 4 hours
  script:
  - bash -c "echo -e '\n[kunoisayami]\nServer = https://$REPO_REMOTE/\$arch\n' >> /etc/pacman.conf"
  - pacman-key --init
  ...

post:
  stage: post
  script:
  - if [ -n "$TARGET_HOSTS" ]; then echo "$TARGET_HOSTS" | base64 -d >> /etc/hosts; fi;
  - bash -c './utils/ci-upload.sh'

feat(script): update check-aur-update.yml and add shebang to check-aur-update.py
  .github/workflows/check-aur-update.yml
  utils/aur/check-aur-update.py
Due: none

feat(script): add parse-pkgbuild.sh and minor changes
  utils/aur/check-aur-update.py
  utils/parse-pkgbuild.sh
Due: none

feat(script): add new aur check
  utils/aur/AURUtils/__init__.py
  utils/aur/AURUtils/aur_deps.py
  utils/aur/AURUtils/errors.py
  utils/aur/AURUtils/rpc.py
  utils/aur/AURUtils/srcinfo.py
  utils/aur/AURUtils/types.py
  utils/aur/AURUtils/version.py
  utils/aur/check-aur-update.py
Due: none

fix(ci): Fix workflow not process checkout
  .github/workflows/aur-check-update.yml
Due: none

fix(ci): Fix workflow not process checkout in container
  .github/workflows/aur-check-update.yml
Due: none

refactor(ci): Temporarily disable automatic updates
  .github/workflows/aur-check-update.yml
Due: none

feat(pkg): Update ksutils-github-webhook to 1.1.1
  repo/ksutils-github-webhook/PKGBUILD
Due: build, post

Update PKGBUILD
  repo/ksutils-github-webhook/PKGBUILD
Due: build, post

feat(pkg): Upgrade ksutils-github-webhook to 2.0.0 (#29)
  repo/ksutils-github-webhook/PKGBUILD
Due: build, post

fix(ci): Fix workflow directory not correct
  .github/workflows/aur-check-update.yml
  .gitlab-ci.yml
  utils/parse-pkgbuild.sh
Due: build

fix(ci): Fix makepkg user
  .github/workflows/aur-check-update.yml
Due: none

fix(ci): Optimize pull request
  .github/workflows/aur-check-update.yml
Due: none

feat(ci): Rename github action name
  .github/workflows/aur-check-update.yml
Due: none

feat(pkg): Update ksutils-probe-client to 2.4.3
  repo/ksutils-probe-client/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-probe-client to 2.4.4
  repo/ksutils-probe-client/PKGBUILD
Due: build, post

feat(pkg): Update zsh-ssr-theme to 0.0.2
  repo/zsh-ssr-theme/PKGBUILD
  repo/zsh-ssr-theme/zsh-ssr-theme.install
Due: build, post

feat(add-pkg): add trustedqsl
  .gitmodules
  repo/.yaydeps/trustedqsl
  repo/.yaydeps/wxgtk2
Due: build, post

feat(add-pkg): add trustedqsl (#37)
  .gitmodules
  repo/.yaydeps/trustedqsl
  repo/.yaydeps/wxgtk2
Due: build, post

fix(pkg): Fix missing build dependencies
  docker/dockerbuild.sh
  docker/dockerfile
  repo/.hook/trustedqsl
  repo/.hook/wxgtk2.8
Due: build, post

fix(script): [REBUILD] Fix wrong way to calling hook script
  repo/.hook/glib2-static
  repo/.hook/pod2man
  utils/pkgbuild.sh
Due: build, post

feat(ci): Use direct push instead of create pull request
  .github/workflows/aur-check-update.yml
Due: none

feat(pkg): Update acme.sh-letsencrypt to 3.0.1
  repo/acme.sh-letsencrypt/PKGBUILD
Due: build, post

fix(pkg): Fix obs-studio-browser dependency
  repo/.hook/gtk3-classic
  repo/.yaydeps/obs-studio-browser
  utils/pkgbuild.sh
Due: build, post

feat(pkg): Modify verified repositories list
  repo/.verified_repos
Due: build, post

feat(add-pkg): Add php-ssh-beta
  repo/php-ssh-beta/.SRCINFO
  repo/php-ssh-beta/PKGBUILD
  repo/php-ssh-beta/php-ssh.install
Due: build, post

fix(pkg): Fix php-ssh-beta build
  repo/php-ssh-beta/PKGBUILD
Due: build, post

feat(script): Show only file name in sync
  utils/deploy.sh
Due: none

fix(repo): Fix obs-studio-browser build
  repo/.yaydeps/obs-studio-browser
Due: build, post

feat(pkg): Update telegram-bot-api to 5.7
  repo/telegram-bot-api/PKGBUILD
Due: build, post

feat(pkg): Update acme.sh-letsencrypt to 3.0.2
  repo/acme.sh-letsencrypt/PKGBUILD
Due: build, post

feat(add-pkg): Add status-upstream
  repo/ksutils-probe-client/PKGBUILD
  repo/ksutils-status-upstream/PKGBUILD
  repo/ksutils-status-upstream/default.toml
  repo/ksutils-status-upstream/ksutils-status-upstream.install
  repo/ksutils-status-upstream/ksutils-status-upstream@.service
Due: build, post

feat(del-pkg): Remove linux-zen-x86-64-v3
  repo/linux-zen-x86-64-v3/PKGBUILD
  repo/linux-zen-x86-64-v3/config
Due: build, post

feat(add-pkg): Add maddy
  .gitmodules
Due: none

fix(repo): Fix maddy build
  repo/.hook/maddy
Due: build, post

fix(repo): Fix maddy hook script typo
  README.md
  repo/.hook/maddy
  repo/.verified_repos
  repo/ksutils-probe-client/PKGBUILD
  repo/ksutils-probe-client/default.toml
  repo/ksutils-probe-client/ksutils-probe-client@.service
Due: build, post

fix(pkg): Fix maddy gpg key not imported
  repo/.gpg_keys/linux-zen-x86-64-v3
  repo/.gpg_keys/maddy
Due: build, post

feat(add-pkg): Add ksutils-teamspeak-autochannel
  repo/ksutils-teamspeak-autochannel/PKGBUILD
  repo/ksutils-teamspeak-autochannel/default.toml
  repo/ksutils-teamspeak-autochannel/ksutils-teamspeak-autochannel@.service
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 0.5.0
  repo/ksutils-teamspeak-autochannel/PKGBUILD
  repo/ksutils-teamspeak-autochannel/default.toml
  repo/ksutils-teamspeak-autochannel/ksutils-teamspeak-autochannel@.service
Due: build, post

Path conditions:
  build: any of: .gitlab-ci.yml, pkgbuild.sh, repo/**/*
  post: any of: repo/**/*
