Repository KunoiSayami/repos: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, post

.gitlab-ci.yml:

default:
  tags:
    - medium
  image:
    archlinux:latest

stages:
  - build
  - post

build:
  stage: build

  variables:
    GIT_SUBMODULE_STRATEGY: recursive

  artifacts:
    untracked: true
    expire_in: 4 hours
  only:
    changes:
      - .gitlab-ci.yml
      - pkgbuild.sh
      - repo/**/*

  script:
    #- echo -e '\n[archlinuxcn]\nServer = https://repo.archlinuxcn.org/$arch\n' >> /etc/pacman.conf
    - bash -c "echo -e '\n[kunoisayami]\nServer = https://$REPO_REMOTE/\$arch\n' >> /etc/pacman.conf"
    - pacman-key --init
    # import myself key first
    - curl -fL https://keys.openpgp.org/vks/v1/by-fingerprint/4A0F0C8BC709ACA4341767FB243975C8DB9656B9 | pacman-key --add -
    - pacman-key --finger 4A0F0C8BC709ACA4341767FB243975C8DB9656B9
    - pacman-key --lsign-key 4A0F0C8BC709ACA4341767FB243975C8DB9656B9
    #- pacman --noconfirm --needed -Sy archlinuxcn-keyring
    - pacman --noconfirm --needed -Syu base-devel gnupg git yay
    - useradd -m build
    - echo 'build ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers
    #- cp -r ../$CI_PROJECT_TITLE  /home/build/
    #- cd /home/build/$CI_PROJECT_TITLE
    - chown -R build:build ../$CI_PROJECT_TITLE
    - su -c './utils/pkgbuild.sh --import-gpg' build
    - su -c './utils/pkgbuild.sh' build
    - rm -rf build/

# only push to master master trigger push
post:
  stage: post

  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - repo/**/*
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_TITLE =~ /REBUILD/

  script:
    - if [ -n "$TARGET_HOSTS" ]; then echo "$TARGET_HOSTS" | base64 -d >> /etc/hosts; fi;
    - bash -c './utils/ci-upload.sh'

feat(pkg): Update ksutils-teamspeak-autochannel to 0.6.2
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 0.6.3
  repo/ksutils-teamspeak-autochannel/PKGBUILD
  repo/ksutils-teamspeak-autochannel/default.toml
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 0.6.4
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 0.7.0
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 0.7.1
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 0.8.0
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 1.0.0
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

fix(ci): Temporarily reduce update frequency
  .github/workflows/aur-check-update.yml
Due: none

fix(ci): Add safe directory
  .github/workflows/aur-check-update.yml
Due: none

fix(ci): Add safe directory (#40)
  .github/workflows/aur-check-update.yml
Due: none

Revert "fix(ci): Temporarily reduce update frequency"
  .github/workflows/aur-check-update.yml
Due: none

fix(ci): Fix missing dependencies
  .github/workflows/aur-check-update.yml
Due: none

fix(ci): Fix missing dependencies (#41)
  .github/workflows/aur-check-update.yml
Due: none

feat(pkg): Update telegram-bot-api to 6.0
  repo/ksutils-github-webhook/PKGBUILD
  repo/ksutils-status-upstream/PKGBUILD
  repo/pam_ssh_agent_auth_patched/PKGBUILD
  repo/telegram-bot-api/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 2.1.1
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 2.2.0
  repo/ksutils-teamspeak-autochannel/PKGBUILD
  repo/ksutils-teamspeak-autochannel/default.toml
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 2.2.1
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 2.2.2
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 2.2.3
  docker/dockerbuild.sh
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update telegram-bot-api to 6.0.2
  repo/telegram-bot-api/PKGBUILD
Due: build, post

fix(script): Fix trustedqsl hook script
  repo/.hook/trustedqsl
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel to 2.2.4
  repo/ksutils-teamspeak-autochannel/PKGBUILD
Due: build, post

feat(pkg): Update ksutils-teamspeak-autochannel service file
  repo/ksutils-teamspeak-autochannel/PKGBUILD
  repo/ksutils-teamspeak-autochannel/ksutils-teamspeak-autochannel@.service
Due: build, post

feat(pkg): Update zsh-ssr-theme to 0.0.3
  repo/zsh-ssr-theme/PKGBUILD
Due: build, post

feat(pkg): Update zsh-ssr-theme to 0.0.4
  repo/zsh-ssr-theme/PKGBUILD
Due: build, post

feat(add-pkg): Add ffmpeg-cuda
  .gitmodules
Due: none

feat(pkg): Update acme.sh-letsencrypt to 3.0.4
  repo/acme.sh-letsencrypt/PKGBUILD
Due: build, post

feat(pkg): Update telegram-bot-api to 6.1
  repo/telegram-bot-api/PKGBUILD
Due: build, post

feat(replace-pkg): Replace teamspeak-autochannel with teamspeak-management-tools
  repo/ksutils-teamspeak-autochannel/ksutils-teamspeak-autochannel@.service
  repo/ksutils-teamspeak-management-tools/PKGBUILD
  repo/ksutils-teamspeak-management-tools/default.toml
  repo/ksutils-teamspeak-management-tools/ksutils-management-tools@.service
Due: build, post

feat(add-pkg): Add cinny-web-git
  .gitmodules
Due: none

feat(pkg): Update telegram-bot-api to 6.2
  repo/telegram-bot-api/PKGBUILD
Due: build, post

fix(ci): Fix pcregrep not found error
  .gitlab-ci.yml
Due: build

feat(ci): Upgrade checkout to v3
  .github/workflows/aur-check-update.yml
Due: none

fix(pkg): Fix ksutils-teamspeak-management-tools * refactor(utils): Clear unused script * feat(utils): Add next generation of build script
  repo/ksutils-teamspeak-management-tools/ksutils-teamspeak-management-tools@.service
  utils/aur/aur-check-update.py
  utils/ng/pkgbuild.py
Due: build, post

feat(script): Add new line at the end of script
  utils/aur/check-aur-update.py
Due: none

feat(script): Add pkgbuild_bootstrap
  utils/gpg_trust
  utils/ng/pkgbuild.py
  utils/ng/pkgbuild_bootstrap
Due: none

feat(script): Remove useless statements
  utils/ng/pkgbuild.py
  utils/ng/pkgbuild_bootstrap
Due: none

fix(script): Fix some bugs
  utils/ng/pkgbuild.py
  utils/ng/pkgbuild_bootstrap
Due: none

feat(script): Implement all function
  utils/ng/pkgbuild.py
  utils/ng/pkgbuild_bootstrap
  utils/ng/upload.py
  utils/trust_gpg.sh
Due: none
