Repository KunoiSayami/repos: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, post

build:
  stage: build
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  artifacts:
    untracked: true
    expire_in: 4 hours
  script:
  - bash -c "echo -e '\n[kunoisayami]\nServer = https://$REPO_REMOTE/\$arch\n' >> /etc/pacman.conf"
  - pacman-key --init
  ...

post:
  stage: post
  script:
  - if [ -n "$TARGET_HOSTS" ]; then echo "$TARGET_HOSTS" | base64 -d >> /etc/hosts; fi;
  - bash -c './utils/ci-upload.sh'

format: Reformat utils/ng with black
  utils/ng/pkgbuild.py
  utils/ng/upload.py
Due: none

fix(script): Fix typo * feat(docker): Add missing dependency * fix(pkg): Add GPG key for ffmpeg-cuda
  docker/dockerbuild.sh
  docker/dockerfile
  repo/.gpg_keys/ffmpeg-cuda
  repo/.hook/ffmpeg-cuda
  utils/ng/pkgbuild.py
  utils/ng/upload.py
Due: build, post

feat(script): Optimize hook and build script
  repo/.hook/ffmpeg-cuda
  repo/.hook/glib2-static
  repo/.hook/liboping
  repo/.hook/trustedqsl
  repo/.hook/vlc-luajit
  repo/.hook/wxgtk2.8
  utils/ng/pkgbuild.py
Due: build, post

feat(del-pkg): Remove glib2-static and qemu-user-static
  .gitmodules
  repo/.gpg_keys/qemu-user-static
  repo/.hook/glib2-static
Due: build, post

fix(repo): Fix some aur dependencies
  repo/.yaydeps/glib2-static
  repo/.yaydeps/qemu-user-static
  repo/.yaydeps/wget2
  repo/.yaydeps/wxgtk2
  repo/.yaydeps/wxgtk2.8
  repo/wget-curl/PKGBUILD
Due: build, post

feat(script): Add upload rated scripts
  utils/ng/pkgbuild.py
  utils/ng/systemd/update-repo-notify.service
  utils/ng/systemd/update-repo-notify.socket
  utils/ng/update-db.py
  utils/ng/upload.php
Due: none

feat(script): Add deps update after aur update
  .github/workflows/aur-check-update.yml
  utils/aur/check-aur-update.py
Due: none

feat(script): Implement systemd functions
  utils/ng/pkgbuild.py
  utils/ng/systemd/update-repo-notify.service
  utils/ng/systemd/update-repo@.service
  utils/ng/trigger.py
  utils/ng/update-db.py
  utils/ng/upload.php
Due: none

refactor: Move script out from ng folder
  docker/dockerfile
  utils/ci-upload.sh
  utils/pkgbuild.py
  utils/pkgbuild.sh
  utils/pkgbuild_bootstrap
  utils/repodb.sh
  utils/systemd/update-repo-notify.service
  utils/systemd/update-repo-notify.socket
  utils/systemd/update-repo@.service
  utils/trigger.py
  utils/update-db.py
  utils/upload.php
  utils/upload.py
Due: none

feat(script): Optimize local debug docker build * fix(ci): Fix gitlab ci script
  .gitlab-ci.yml
  docker/dockerbuild.sh
  docker/dockerfile
  docker/initfolder.sh
  docker/repos/.placehold
  utils/pkgbuild_bootstrap
  utils/update-db.py
  utils/upload.py
Due: build

fix(script): Fix update-db.py
  utils/update-db.py
Due: none

fix(script): Fix deps update
  utils/aur/check-aur-update.py
Due: none

feat(pkg): Change package wxgtk2.8 to wxgtk-dev
  .gitmodules
  repo/.yaydeps/trustedqsl
  repo/.yaydeps/wxgtk2.8
Due: build, post

fix(pkg): Fix trustedqsl build
  repo/.hook/trustedqsl
  repo/.hook/wxgtk-dev
  repo/.hook/wxgtk2.8
  repo/.verified_repos
  repo/.yaydeps/trustedqsl
Due: build, post

fix(script): Fix dependency build successful cause exit
  README.md
  docker/docker.env.default
  utils/pkgbuild.py
  utils/update-db.py
Due: none

feat(script): Optimize build fail output feat(script): Add update-repo-copy.service
  utils/pkgbuild.py
  utils/systemd/update-repo-copy.service
  utils/systemd/wait-services.sh
  utils/upload.php
  utils/upload.py
Due: none

fix(script): Fix empty directory checker
  docker/initfolder.sh
Due: none

feat(script): Add debug script
  utils/pkgbuild.py
  utils/pkgman.py
  utils/upload.py
Due: none

fix(pkg): Fix obs-studio-browser dependency
  repo/.yaydeps/obs-studio-browser
Due: build, post

fix(script): Fix yaydeps folder name
  utils/aur/check-aur-update.py
Due: none

chore: Delete useless file
  repo/.yaydeps/repo
Due: build, post

feat: Add diff function in pkgman
  utils/pkgman.py
Due: none

feat(pkg): Change package cinny-web-git to cinny-web
  .gitmodules
Due: none

feat(pkg): Update acme.sh-letsencrypt to 3.0.5
  repo/acme.sh-letsencrypt/PKGBUILD
Due: build, post

feat(pkg): Update telegram-bot-api to 6.4.1
  repo/telegram-bot-api/PKGBUILD
Due: build, post

feat(pkg): Update telegram-bot-api to 6.5
  repo/telegram-bot-api/PKGBUILD
Due: build, post

feat(pkg): Update acme.sh-letsencrypt to 3.0.6
  repo/acme.sh-letsencrypt/PKGBUILD
Due: build, post

feat(build): Add a way to check directory is empty
  docker/dockerbuild.sh
  docker/dockerfile
Due: none

feat(del-pkg): Remove obs-studio-browser and ffmpeg-cuda
  .gitmodules
  README.md
  repo/.gpg_keys/ffmpeg-cuda
  repo/.hook/ffmpeg-cuda
  repo/.hook/obs-studio-browser
  repo/.hook/vlc-luajit
  repo/.yaydeps/obs-studio-browser
  repo/.yaydeps/vlc-luajit
Due: build, post

feat(del-pkg): Remove maddy
  .gitmodules
Due: none

feat(script): Use strip before print
  utils/upload.py
Due: none

feat(script): Kill gpg agent after process done
  utils/update-db.py
Due: none

feat(add-pkg): Add prismlauncher
  .gitmodules
  utils/update-db.py
Due: none

feat(del-pkg): Remove prismlauncher
  .gitmodules
Due: none

feat: Add retry option while upload
  utils/upload.py
Due: none

feat(del-pkg): Remove wxgtk-dev
  .gitmodules
Due: none

Path conditions:
  build: any of: .gitlab-ci.yml, pkgbuild.sh, repo/**/*
  post: any of: repo/**/*
